In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.1'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Get:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release [564 B]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release.gpg [833 B]
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Ign:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [407 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Packages [58.5 kB]
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,688 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [15.8 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,365 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,129 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,781 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [222 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,198 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [46.3 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [247 kB]
Get:25 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [864 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [46.6 kB]
Fetched 11.4 MB in 4s (3,136 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-11-15 00:03:53--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  --.-KB/s    in 0.1s

2020-11-15 00:03:54 (8.54 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("NCAA").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

Extraction

In [ ]:
from pyspark import SparkFiles
# Connecting to S3 for Basketball Stats
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/NBA.csv"
spark.sparkContext.addFile(url)

NBAstats = spark.read.option("header", "true").csv(SparkFiles.get("NBA.csv"), inferSchema=True, sep=",")
# NBAstats.show(10)

In [ ]:
NBAstats.count()

In [ ]:
# Print our schema
NBAstats.printSchema()

In [ ]:
from pyspark import SparkFiles
# Connecting to S3 for NBA draft data
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/NBAdraft.csv"
spark.sparkContext.addFile(url)

NBAdraft = spark.read.option("header", "true").csv(SparkFiles.get("NBAdraft.csv"), inferSchema=True, sep=",")
# NBAdraft.show(10)

In [ ]:
NBAdraft.count()

In [ ]:
# Print our schema
NBAdraft.printSchema()

In [12]:
from pyspark import SparkFiles
# Connecting to S3 for Football data
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/Football.csv"
spark.sparkContext.addFile(url)

Football = spark.read.option("header", "true").csv(SparkFiles.get("Football.csv"), inferSchema=True, sep=",")
Football.show(10)

+---------+---+----+--------------------+----------------+-----------+--------+-------------+---------------------+----------+----------+------------+----------------+---------------+
|DraftYear|Rnd|Pick|                Team|          Player|GradeFileID|Position|      College|CollegeBudgetFileName|Conference|  latitude|   longitude|ExpensesFootball|RevenueFootball|
+---------+---+----+--------------------+----------------+-----------+--------+-------------+---------------------+----------+----------+------------+----------------+---------------+
|     2015|  1|   1|Tampa Bay Buccaneers|  Jameis Winston|       9434|      QB|  Florida St.| Florida State Uni...|       ACC|30.4404775| -84.2908283|        68893857|       68893857|
|     2015|  1|   2|    Tennessee Titans|  Marcus Mariota|       9435|      QB|       Oregon| University of Oregon|    Pac-12|44.0637862|-123.0787724|        33024841|       72146320|
|     2015|  1|   3|Jacksonville Jaguars|    Dante Fowler|       9436|     OLB|      Florida| University of Flo...|       SEC|29.6494246| -82.3399209|        39149664|       84837920|
|     2015|  1|   4|   Las Vegas Raiders|    Amari Cooper|       9437|      WR|      Alabama| The University of...|       SEC|33.2096093| -87.5466476|        69718059|       94604899|
|     2015|  1|   5| Washington Redskins| Brandon Scherff|       9438|       T|         Iowa|   University of Iowa|   Big Ten| 41.661897| -91.5364924|        36838032|       81037375|
|     2015|  1|   6|       New York Jets|Leonard Williams|       9439|      DE|          USC| University of Sou...|    Pac-12|34.0309703|-118.2789735|        32124522|       50046008|
|     2015|  1|   7|       Chicago Bears|     Kevin White|       9440|      WR|West Virginia| West Virginia Uni...|    Big 12|39.6480359| -79.9697147|        22290035|       24692746|
|     2015|  1|   8|     Atlanta Falcons|     Vic Beasley|       9441|     OLB|      Clemson|   Clemson University|       ACC| 34.679339|  -82.835136|        55649888|       61378516|
|     2015|  1|   9|     New York Giants|   Ereck Flowers|       9442|       T|   Miami (FL)|  University of Miami|       ACC|25.7178924| -80.2746368|        56257383|       56257383|
|     2015|  1|  10|    Los Angeles Rams|     Todd Gurley|       9443|      RB|      Georgia| University of Geo...|       SEC|33.9562553| -83.3740399|        49207808|      123073722|
+---------+---+----+--------------------+----------------+-----------+--------+-------------+---------------------+----------+----------+------------+----------------+---------------+
only showing top 10 rows

In [13]:
Football.count()

1528

In [14]:
# Print our schema
Football.printSchema()

root
 |-- DraftYear: integer (nullable = true)
 |-- Rnd: integer (nullable = true)
 |-- Pick: integer (nullable = true)
 |-- Team: string (nullable = true)
 |-- Player: string (nullable = true)
 |-- GradeFileID: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- College: string (nullable = true)
 |-- CollegeBudgetFileName: string (nullable = true)
 |-- Conference: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- ExpensesFootball: integer (nullable = true)
 |-- RevenueFootball: integer (nullable = true)

In [ ]:
from pyspark import SparkFiles
# Connecting to S3 for School Data
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/SchoolCleaned.csv"
spark.sparkContext.addFile(url)

School_df = spark.read.option("header", "true").csv(SparkFiles.get("SchoolCleaned.csv"), inferSchema=True, sep=",")
School_df.show(10)

In [ ]:
School_df.count()

In [ ]:
# Print our schema
School_df.printSchema()

In [4]:
from pyspark import SparkFiles
# Connecting to S3 for all Basketball data
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/Basketball.csv"
spark.sparkContext.addFile(url)

Basketball = spark.read.option("header", "true").csv(SparkFiles.get("Basketball.csv"), inferSchema=True, sep=",")
Basketball.show(10)

+------------------+------+---+----+---+----+------+-------+-------+---------+---+---+------+---+---+---+---+----+---+---+---+----+----+-------------+--------------------+--------------------+----------+------------+----------------------+---------------------+
|            player|  team| gp| mpg|fgm| fga|fg_pct|threepm|threepa|three_pct|ftm|fta|ft_pct|tov| pf|orb|drb| rpg|apg|spg|bpg| ppg|pick|   conference|             college|   CollegeBudgetFile|  latitude|   longitude|ExpensesMensBasketball|RevenueMensBasketball|
+------------------+------+---+----+---+----+------+-------+-------+---------+---+---+------+---+---+---+---+----+---+---+---+----+----+-------------+--------------------+--------------------+----------+------------+----------------------+---------------------+
|       Chuma Okeke|    AU| 38|29.1|4.4| 8.9| 0.496|    1.4|    3.7|    0.387|1.7|2.4| 0.722|1.7|1.9|2.8|4.1| 6.8|1.9|1.8|1.2|12.0|  16|          SEC|              Auburn|   Auburn University|32.5909562| -85.4929785|              47846261|             95157216|
|   Jerome Robinson|    BC| 35|36.0|7.1|14.7| 0.485|    2.3|    5.7|    0.409|4.2|5.0|  0.83|2.7|2.5|0.5|3.1| 3.6|3.3|0.9|0.1|20.7|  13|          ACC|      Boston College|      Boston College|42.3355488| -71.1684945|              24855252|             32347820|
|    Olivier Hanlan|    BC| 32|37.6|7.0|15.5| 0.454|    2.0|    5.8|    0.353|3.4|4.5| 0.759|2.7|2.1|0.8|3.5| 4.2|4.2|1.3|0.0|19.5|  42|          ACC|      Boston College|      Boston College|42.3355488| -71.1684945|              24855252|             32347820|
|     Dylan Windler|   BEL| 33|33.2|7.4|13.6|  0.54|    3.0|    7.1|    0.429|3.5|4.2| 0.847|2.1|2.1|1.9|8.9|10.8|2.5|1.4|0.6|21.3|  26|  Ohio Valley|             Belmont|  Belmont University|36.1336191| -86.7939242|                     0|                    0|
|    Richaun Holmes|  BGSU| 31|28.8|5.3| 9.5| 0.563|    0.6|    1.4|    0.419|3.5|4.9| 0.712|1.9|2.5|2.8|5.2| 8.0|0.8|0.7|2.7|14.7|  37| Mid-American|       Bowling Green|Bowling Green Sta...|41.3754425|  -83.640953|               7750248|              7750248|
|Chandler Hutchison|   BSU| 31|31.0|6.6|13.9| 0.475|    1.5|    4.1|    0.359|5.3|7.2| 0.728|3.4|2.4|0.9|6.8| 7.7|3.5|1.5|0.3|20.0|  22|Mountain West|         Boise State|Boise State Unive...| 43.609316|-116.2108121|              14600947|             20281713|
|  Jarrell Brantley|C of C| 33|33.9|7.2|13.9| 0.517|    1.2|    3.5|    0.328|3.9|4.9| 0.785|2.6|2.7|1.7|6.7| 8.4|2.4|1.4|0.9|19.4|  50|     Colonial|College of Charle...|College of Charle...|32.7834631| -79.9372833|                     0|                    0|
|         Ivan Rabb|   Cal| 31|32.6|4.9|10.1| 0.484|    0.3|    0.6|      0.4|4.0|6.0| 0.663|2.2|3.1|3.0|7.4|10.5|1.5|0.7|1.0|14.0|  35|       PAC-12|          California|University of Cal...|37.8718399|-122.2603363|              27790118|             33532252|
|       Jabari Bird|   Cal| 27|32.0|5.2|11.8| 0.439|    2.4|    6.6|    0.363|1.6|2.0| 0.764|1.9|1.9|1.0|3.7| 4.7|1.0|0.7|0.2|14.3|  56|       PAC-12|          California|University of Cal...|37.8718399|-122.2603363|              27790118|             33532252|
|      Jaylen Brown|   Cal| 34|27.6|4.8|11.1| 0.431|    0.9|    3.0|    0.294|4.2|6.4| 0.654|3.1|3.2|1.1|4.3| 5.4|2.0|0.8|0.6|14.6|   3|       PAC-12|          California|University of Cal...|37.8718399|-122.2603363|              27790118|             33532252|
+------------------+------+---+----+---+----+------+-------+-------+---------+---+---+------+---+---+---+---+----+---+---+---+----+----+-------------+--------------------+--------------------+----------+------------+----------------------+---------------------+
only showing top 10 rows

In [5]:
Basketball.count()

212

In [6]:
Basketball.printSchema()

root
 |-- player: string (nullable = true)
 |-- team: string (nullable = true)
 |-- gp: integer (nullable = true)
 |-- mpg: double (nullable = true)
 |-- fgm: double (nullable = true)
 |-- fga: double (nullable = true)
 |-- fg_pct: double (nullable = true)
 |-- threepm: double (nullable = true)
 |-- threepa: double (nullable = true)
 |-- three_pct: double (nullable = true)
 |-- ftm: double (nullable = true)
 |-- fta: double (nullable = true)
 |-- ft_pct: double (nullable = true)
 |-- tov: double (nullable = true)
 |-- pf: double (nullable = true)
 |-- orb: double (nullable = true)
 |-- drb: double (nullable = true)
 |-- rpg: double (nullable = true)
 |-- apg: double (nullable = true)
 |-- spg: double (nullable = true)
 |-- bpg: double (nullable = true)
 |-- ppg: double (nullable = true)
 |-- pick: integer (nullable = true)
 |-- conference: string (nullable = true)
 |-- college: string (nullable = true)
 |-- CollegeBudgetFile: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- ExpensesMensBasketball: integer (nullable = true)
 |-- RevenueMensBasketball: integer (nullable = true)

**Transformation**

In [ ]:
pdf = NBAstats.toPandas()
df_dedupe = pdf.rename(columns={'FG%':'FG_pct', '3PM':'ThreePM',
                                '3PA':'ThreePA', '3P%':'Three_pct',
                                'FT%':'FT_pct'}).drop_duplicates(subset=['Player'], keep='last').round(3)
NBAstats = spark.createDataFrame(df_dedupe)
NBAstats.show()

In [ ]:
NBAstats.count()

In [ ]:
pdf = NBAdraft.toPandas()
df_dedupe = pdf.rename(columns={'Pk':'Pick','Player':'Name'}).drop_duplicates(subset=['Name'], keep='last')
NBAdraft = spark.createDataFrame(df_dedupe)
NBAdraft.show()

In [ ]:
NBAdraft.count()

In [15]:
pdf = Football.toPandas()
df_dedupe = pdf.rename(columns={'ExpensesFootball':'Expense','RevenueFootball':'Revenue'}).drop_duplicates(subset=['Player'], keep='last')
Football = spark.createDataFrame(df_dedupe)
Football.show()

+---------+---+----+--------------------+----------------+-----------+--------+-------------+---------------------+----------+----------+------------+--------+---------+
|DraftYear|Rnd|Pick|                Team|          Player|GradeFileID|Position|      College|CollegeBudgetFileName|Conference|  latitude|   longitude| Expense|  Revenue|
+---------+---+----+--------------------+----------------+-----------+--------+-------------+---------------------+----------+----------+------------+--------+---------+
|     2015|  1|   1|Tampa Bay Buccaneers|  Jameis Winston|       9434|      QB|  Florida St.| Florida State Uni...|       ACC|30.4404775| -84.2908283|68893857| 68893857|
|     2015|  1|   2|    Tennessee Titans|  Marcus Mariota|       9435|      QB|       Oregon| University of Oregon|    Pac-12|44.0637862|-123.0787724|33024841| 72146320|
|     2015|  1|   3|Jacksonville Jaguars|    Dante Fowler|       9436|     OLB|      Florida| University of Flo...|       SEC|29.6494246| -82.3399209|39149664| 84837920|
|     2015|  1|   4|   Las Vegas Raiders|    Amari Cooper|       9437|      WR|      Alabama| The University of...|       SEC|33.2096093| -87.5466476|69718059| 94604899|
|     2015|  1|   5| Washington Redskins| Brandon Scherff|       9438|       T|         Iowa|   University of Iowa|   Big Ten| 41.661897| -91.5364924|36838032| 81037375|
|     2015|  1|   6|       New York Jets|Leonard Williams|       9439|      DE|          USC| University of Sou...|    Pac-12|34.0309703|-118.2789735|32124522| 50046008|
|     2015|  1|   7|       Chicago Bears|     Kevin White|       9440|      WR|West Virginia| West Virginia Uni...|    Big 12|39.6480359| -79.9697147|22290035| 24692746|
|     2015|  1|   8|     Atlanta Falcons|     Vic Beasley|       9441|     OLB|      Clemson|   Clemson University|       ACC| 34.679339|  -82.835136|55649888| 61378516|
|     2015|  1|   9|     New York Giants|   Ereck Flowers|       9442|       T|   Miami (FL)|  University of Miami|       ACC|25.7178924| -80.2746368|56257383| 56257383|
|     2015|  1|  10|    Los Angeles Rams|     Todd Gurley|       9443|      RB|      Georgia| University of Geo...|       SEC|33.9562553| -83.3740399|49207808|123073722|
|     2015|  1|  11|   Minnesota Vikings|     Trae Waynes|       9444|      CB| Michigan St.| Michigan State Un...|   Big Ten|42.7296495| -84.4815268|33928232| 75545976|
|     2015|  1|  12|    Cleveland Browns|   Danny Shelton|       9445|      NT|   Washington| University of Was...|    Pac-12|47.6565538|-122.3127075|40474139| 84041770|
|     2015|  1|  13|  New Orleans Saints|     Andrus Peat|       9446|       T|     Stanford|  Stanford University|    Pac-12|37.4400665|-122.1696059|30470121| 44462092|
|     2015|  1|  14|      Miami Dolphins|  DeVante Parker|       9447|      WR|   Louisville| University of Lou...|       ACC|38.2157954| -85.7614322|44057106| 47327709|
|     2015|  1|  15|Los Angeles Chargers|   Melvin Gordon|       9448|      RB|    Wisconsin| University of Wis...|   Big Ten| 43.075486| -89.4043511|31714090| 89944636|
|     2015|  1|  16|      Houston Texans|   Kevin Johnson|       9449|      CB|  Wake Forest| Wake Forest Unive...|       ACC|36.1348359| -80.2708623|21462286| 26722457|
|     2015|  1|  17| San Francisco 49ers|   Arik Armstead|       9450|      DT|       Oregon| University of Oregon|    Pac-12|44.0637862|-123.0787724|33024841| 72146320|
|     2015|  1|  18|  Kansas City Chiefs|   Marcus Peters|       9451|      CB|   Washington| University of Was...|    Pac-12|47.6565538|-122.3127075|40474139| 84041770|
|     2015|  1|  19|    Cleveland Browns|  Cameron Erving|       9452|       C|  Florida St.| Florida State Uni...|       ACC|30.4404775| -84.2908283|68893857| 68893857|
|     2015|  1|  20| Philadelphia Eagles|  Nelson Agholor|       9453|      WR|          USC| University of Sou...|    Pac-12|34.0309703|-118.2789735|32124522| 50046008|
+---------+---+----+--------------------+----------------+-----------+--------+-------------+---------------------+----------+----------+------------+--------+---------+
only showing top 20 rows

In [8]:
pdf = Basketball.toPandas()
df_dedupe = pdf.rename(columns={'ExpensesMensBasketball':'Expense','RevenueMensBasketball':'Revenue'}).drop_duplicates(subset=['player'], keep='last')
Basketball = spark.createDataFrame(df_dedupe)
Basketball.show()

+--------------------+------+---+----+---+----+------+-------+-------+---------+---+---+------+---+---+---+---+----+---+---+---+----+----+-------------+--------------------+--------------------+----------+------------+--------+--------+
|              player|  team| gp| mpg|fgm| fga|fg_pct|threepm|threepa|three_pct|ftm|fta|ft_pct|tov| pf|orb|drb| rpg|apg|spg|bpg| ppg|pick|   conference|             college|   CollegeBudgetFile|  latitude|   longitude| Expense| Revenue|
+--------------------+------+---+----+---+----+------+-------+-------+---------+---+---+------+---+---+---+---+----+---+---+---+----+----+-------------+--------------------+--------------------+----------+------------+--------+--------+
|         Chuma Okeke|    AU| 38|29.1|4.4| 8.9| 0.496|    1.4|    3.7|    0.387|1.7|2.4| 0.722|1.7|1.9|2.8|4.1| 6.8|1.9|1.8|1.2|12.0|  16|          SEC|              Auburn|   Auburn University|32.5909562| -85.4929785|47846261|95157216|
|     Jerome Robinson|    BC| 35|36.0|7.1|14.7| 0.485|    2.3|    5.7|    0.409|4.2|5.0|  0.83|2.7|2.5|0.5|3.1| 3.6|3.3|0.9|0.1|20.7|  13|          ACC|      Boston College|      Boston College|42.3355488| -71.1684945|24855252|32347820|
|      Olivier Hanlan|    BC| 32|37.6|7.0|15.5| 0.454|    2.0|    5.8|    0.353|3.4|4.5| 0.759|2.7|2.1|0.8|3.5| 4.2|4.2|1.3|0.0|19.5|  42|          ACC|      Boston College|      Boston College|42.3355488| -71.1684945|24855252|32347820|
|       Dylan Windler|   BEL| 33|33.2|7.4|13.6|  0.54|    3.0|    7.1|    0.429|3.5|4.2| 0.847|2.1|2.1|1.9|8.9|10.8|2.5|1.4|0.6|21.3|  26|  Ohio Valley|             Belmont|  Belmont University|36.1336191| -86.7939242|       0|       0|
|      Richaun Holmes|  BGSU| 31|28.8|5.3| 9.5| 0.563|    0.6|    1.4|    0.419|3.5|4.9| 0.712|1.9|2.5|2.8|5.2| 8.0|0.8|0.7|2.7|14.7|  37| Mid-American|       Bowling Green|Bowling Green Sta...|41.3754425|  -83.640953| 7750248| 7750248|
|  Chandler Hutchison|   BSU| 31|31.0|6.6|13.9| 0.475|    1.5|    4.1|    0.359|5.3|7.2| 0.728|3.4|2.4|0.9|6.8| 7.7|3.5|1.5|0.3|20.0|  22|Mountain West|         Boise State|Boise State Unive...| 43.609316|-116.2108121|14600947|20281713|
|    Jarrell Brantley|C of C| 33|33.9|7.2|13.9| 0.517|    1.2|    3.5|    0.328|3.9|4.9| 0.785|2.6|2.7|1.7|6.7| 8.4|2.4|1.4|0.9|19.4|  50|     Colonial|College of Charle...|College of Charle...|32.7834631| -79.9372833|       0|       0|
|           Ivan Rabb|   Cal| 31|32.6|4.9|10.1| 0.484|    0.3|    0.6|      0.4|4.0|6.0| 0.663|2.2|3.1|3.0|7.4|10.5|1.5|0.7|1.0|14.0|  35|       PAC-12|          California|University of Cal...|37.8718399|-122.2603363|27790118|33532252|
|         Jabari Bird|   Cal| 27|32.0|5.2|11.8| 0.439|    2.4|    6.6|    0.363|1.6|2.0| 0.764|1.9|1.9|1.0|3.7| 4.7|1.0|0.7|0.2|14.3|  56|       PAC-12|          California|University of Cal...|37.8718399|-122.2603363|27790118|33532252|
|        Jaylen Brown|   Cal| 34|27.6|4.8|11.1| 0.431|    0.9|    3.0|    0.294|4.2|6.4| 0.654|3.1|3.2|1.1|4.3| 5.4|2.0|0.8|0.6|14.6|   3|       PAC-12|          California|University of Cal...|37.8718399|-122.2603363|27790118|33532252|
|      Tyrone Wallace|   Cal| 28|32.2|5.4|12.2| 0.442|    0.9|    3.0|    0.298|3.6|5.5| 0.649|2.6|2.2|1.0|4.3| 5.3|4.4|1.0|0.4|15.2|  60|       PAC-12|          California|University of Cal...|37.8718399|-122.2603363|27790118|33532252|
|   Jaron Blossomgame|  CLEM| 33|34.3|6.7|13.4| 0.499|    0.7|    2.8|    0.255|3.6|5.1| 0.714|1.7|1.6|1.8|4.5| 6.3|1.5|0.8|0.9|17.7|  59|          ACC|             Clemson|  Clemson University| 34.679339|  -82.835136|55649888|61378516|
|       Derrick White|    CU| 34|32.8|6.0|11.9| 0.507|    1.7|    4.2|    0.396|4.4|5.4| 0.813|2.4|2.1|1.0|3.1| 4.1|4.4|1.2|1.4|18.1|  29|       PAC-12|            Colorado|University of Col...|40.0034965|-105.2677112|29642881|43461696|
|         George King|    CU| 32|28.5|4.4|10.0| 0.445|    1.9|    4.9|    0.395|2.1|2.7| 0.782|2.0|2.4|1.8|6.1| 7.8|1.1|0.5|0.7|12.9|  59|       PAC-12|            Colorado|University of Col...|40.0034965|-105.2677112|29642881|43461696|
|       Justin Patton|    CU| 35|25.3|5.7| 8.5| 0.676|    0.2|    0.4|    0.533|1.3|2.5| 0.517|1.7|2.7|1.7|4.5| 6.2|1.2|0.9|1.4|12.9|  16|     Big East|           Creighton|Creighton University|41.2655878| -95.9486026|       0|       0|
|        Khyri Thomas|    CU| 33|31.7|5.6|10.4| 0.538|    1.9|    4.6|    0.411|2.0|2.6| 0.788|1.8|1.9|1.1|3.3| 4.4|2.8|1.7|0.2|15.1|  38|     Big East|           Creighton|Creighton University|41.2655878| -95.9486026|       0|       0|
|Kostas Antetokounmpo|   DAY| 29|15.1|2.0| 3.5| 0.574|    0.1|    0.5|    0.133|1.1|2.2| 0.516|1.3|2.3|0.8|2.0| 2.9|0.4|0.2|1.1| 5.2|  60|  Atlantic 10|              Dayton|University of Dayton|39.7394599| -84.1799547| 1412930|  159593|
|      Brandon Ingram|  DUKE| 36|34.6|5.9|13.4| 0.442|    2.2|    5.4|     0.41|3.2|4.7| 0.682|2.0|2.1|1.9|4.9| 6.8|2.0|1.1|1.4|17.3|   2|          ACC|                Duke|     Duke University|36.0014258| -78.9382286|28806459|40328603|
|         Cam Reddish|  DUKE| 36|29.7|4.3|12.0| 0.356|    2.5|    7.4|    0.333|2.4|3.2| 0.772|2.7|2.4|0.6|3.1| 3.7|1.9|1.6|0.6|13.5|  10|          ACC|                Duke|     Duke University|36.0014258| -78.9382286|28806459|40328603|
|       Frank Jackson|  DUKE| 36|24.9|3.7| 7.8| 0.473|    1.4|    3.6|    0.395|2.1|2.8| 0.755|1.4|2.4|0.6|1.9| 2.5|1.7|0.6|0.1|10.9|  31|          ACC|                Duke|     Duke University|36.0014258| -78.9382286|28806459|40328603|
+--------------------+------+---+----+---+----+------+-------+-------+---------+---+---+------+---+---+---+---+----+---+---+---+----+----+-------------+--------------------+--------------------+----------+------------+--------+--------+
only showing top 20 rows

In [ ]:
School_df = School_df.withColumnRenamed("REV_MEN", "Revenue")
School_df = School_df.withColumnRenamed("EXP_MEN", "Expense")
School_df.show()

**Loading**

In [9]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://ncaa-athletics.cr5bt5kg46tf.us-west-1.rds.amazonaws.com:5432/NCAA_Athletics"
config = {"user":"postgres", 
          "password": "group1final", 
          "driver":"org.postgresql.Driver"}

In [ ]:
# Writing NBA Stats table into RDS
NBAstats.write.jdbc(url=jdbc_url, table='BballStats', mode=mode, properties=config)

In [ ]:
# Writing NBA draft data into RDS
NBAdraft.write.jdbc(url=jdbc_url, table='NBAdraft', mode=mode, properties=config)

In [11]:
# Writing Basketball data into RDS
Basketball.write.jdbc(url=jdbc_url, table='Basketball', mode=mode, properties=config)

In [ ]:
# Writing NFL draft data into RDS
NFL.write.jdbc(url=jdbc_url, table='NFL', mode=mode, properties=config)

In [ ]:
# Writing Schools table into RDS
School_df.write.jdbc(url=jdbc_url, table='schools', mode=mode, properties=config)

In [16]:
# Writing Football table into RDS
Football.write.jdbc(url=jdbc_url, table='Football', mode=mode, properties=config)